@tailwind base;
@tailwind components;
@tailwind utilities;

.star-item {
    display: inline-block;
    color: #fde047;
    margin-bottom: 4px;
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 5px;
}

input[type="range"]::-moz-range-track {
    -moz-appearance: none;
    height: 5px;
}

input[type="range"]::-ms-track {
    appearance: none;
    height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    border: 1px solid gray;
    background-color: white;
    margin-top: -0.7rem;
    pointer-events: auto;
    cursor: pointer;
}
input[type="range"]::-webkit-slider-thumb:active {
    border: 1px solid green;
}

input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    border: 1px solid gray;
    background-color: white;
    margin-top: -0.7rem;
    pointer-events: auto;
    cursor: pointer;
}
input[type="range"]::-moz-range-thumb:active {
    border: 1px solid green;
}

input[type="range"]::-ms-thumb {
    appearance: none;
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
    border: 1px solid gray;
    background-color: white;
    margin-top: -0.7rem;
    pointer-events: auto;
    cursor: pointer;
}

input[type="range"]::-ms-thumb:active {
    border: 1px solid green;
}
